@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
body{
  font-family: 'Poppins';
  background-color: "#000520";
}
@layer components {
.bg_gradient{
  /* background: transparent linear-gradient(180deg, #000520 0%, #5FEF5C 100%) 0% 0% no-repeat padding-box;
   */
}
}
@property --num0 {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
@keyframes counter0 {
  from {
      --num: 0;
  }
  to {
      --num: 50;
  }
}   
@property --num1 {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
@keyframes counter1 {
  from {
      --num: 0;
  }
  to {
      --num: 1000;
  }
}   
@property --num2 {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
@keyframes counter2 {
  from {
      --num: 0;
  }
  to {
      --num: 15;
  }
}  
@property --num3 {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
@keyframes counter3 {
  from {
      --num: 0;
  }
  to {
      --num: 50;
  }
}     
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
